
@{
    ViewBag.Title = "Hakkımızda";
}

<div style="margin-top:50px">


    <section class="section-sm banner-3">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12">
                    <div class="profile mb-5">
                        <img src="~/img/fgs.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-12">
                    <h2>Fener Grafik Sanat</h2>
                    <p class="lead mb-4">Sizin için tasarlıyoruz!</p>
                    <p class="mb-4">
                        Oluşumumuz Fener Grafik Sanat adıyla 2015 yılının Temmuz ayında kuruldu. Fenerbahçe taraftarının gün içerisinde sıkça kullandıkları teknolojik cihazlarına, hiçbir kâr amacı gütmeden duvar kağıtları tasarlamaktadır. Ekibimizin tek hedefi, Fenerbahçe taraftarına hak ettiği kaliteyi sunmaktır. Birbirinden farklı alanlarda başarılarını kanıtlamış 11 kişilik çalışma ekibimiz,  çeşitli değişim vegelişimlerle bugünlere kadar gelmiştir. Biz, Fener Grafik Sanat ekibi olarak 5 yıldır her zaman özveriyle çalıştık ve çalışmaya da devam ediyoruz. Yaptığımız çalışmalar, bugüne kadar birçok sporcu, yönetici ve üst kademede insanlara ulaşmıştır.<br /> Takipçi sayımız, gün geçtikçe  Facebook, Instagram ve Twitter platformlarında ivmelenerek artışını sürdürmektedir. Bize bugüne kadar desteklerini esirgemeyen sizlere, teşekkürü bir borç biliriz... Fener Grafik Sanat olarak önümüzdeki dönemde de tam gazla devam edeceğimizin sözünü sizlere vermekten gurur duyuyoruz.
                    </p>
                </div>
            </div>
        </div>
    </section>


    @*https://bootstrapious.com/p/team-page*@
    <section>
        <div class="container py-5">
            <div class="row text-center text-white">
                <div class="col-lg-8 mx-auto">
                    <h2 class="">Ekibimiz</h2>
                </div>
            </div>
        </div><!-- End -->


        <div class="container">
            <div class="row text-center">
                <!-- Team item -->
                <div class="col-md-4 mb-4">
                    <div class=" rounded py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/profile.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Berat Terzi</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-4 mb-4">
                    <div class="rounded py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/hakkimizda/berkaysezer.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Berkay Sezer</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a target="_blank" href="https://tr-tr.facebook.com/BerkaySezeer" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/berkaysezeer" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.behance.net/berkaysezer" class="social-link"><i class="fab fa-behance"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://github.com/berkaysezeer" class="social-link"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-4 mb-4">
                    <div class=" rounded py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/hakkimizda/berkhanguder.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Berkhan Güder</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a target="_blank" href="https://tr-tr.facebook.com/berkhanguder" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/berkhanguder" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/imberkhan" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.behance.net/berkhanguder" class="social-link"><i class="fab fa-behance"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://dribbble.com/berkhanguder" class="social-link"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
            </div>
            <div class="row text-center">
                <!-- Team item -->
                <div class="col-md-4 mb-5">
                    <div class=" rounded py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/profile.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Emirhan Alabaş</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/ruslantrva" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.behance.net/ruslanthva" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-4 mb-5">
                    <div class=" rounded  py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/hakkimizda/erayvarol.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Eray Varol</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a target="_blank" href="https://tr-tr.facebook.com/erayvarolx" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/erayvarolx" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/erayvarolx" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.behance.net/erayvarolx" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-4 mb-5">
                    <div class=" rounded  py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/profile.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Mehmet Ali Kuşça</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
            </div>
            <div class="row text-center">
                <!-- Team item -->
                <div class="col-md-3 mb-5">
                    <div class=" rounded  py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/profile.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Metin Paköz</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-3 mb-5">
                    <div class=" rounded  py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/profile.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Onur Özer</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-3 mb-5">
                    <div class=" rounded  py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/hakkimizda/semihaydogdu.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Semih Aydoğdu</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a target="_blank" href="https://tr-tr.facebook.com/semihaydogdu8" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/semiaydogdu" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/semiihaydogdu" class="social-link"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
                <!-- Team item -->
                <div class="col-md-3 mb-5">
                    <div class=" rounded  py-4 px-4" style="background-color:#f7f7f7">
                        <img src="~/img/hakkimizda/omerozcan.png" alt="" width="100" class="img-fluid rounded-circle mb-3 ">
                        <h5 class="mb-0">Ömer Özcan</h5>@*<span class="small text-uppercase text-muted">CEO - Founder</span>*@
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div><!-- End -->
            </div>
        </div>
    </section>



    <section class="section-sm pt-0 mb-3 cta">
        <div class="container">
            <div class="row align-items-center p-5" style="background-color:#192a56;">
                <div class="col-lg-8">
                    <h3 class="mb-0" style="color: #ffd32a">Sormak istediğin şeyler mi var? O zaman iletişime geçebilirsin</h3>
                </div>
                <div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
                    <a href="@Url.Action("Index","Iletisim")" class="btn btn-white">İletişim</a>
                </div>
            </div>
        </div>
    </section>


</div>

