
@{
    ViewBag.Title = "Şifre Sıfırlama";
}

<div style="margin-top:50px;">
    <section class="contact section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5 contact-title">
                        <h2>Şifremi Sıfırlama</h2>
                    </div>

                    <div id="loginForm">
                        <div>
                            <p>
                                Şifren sıfırlandı. Lütfen @Html.ActionLink("giriş yapmak için tıklayın.", "Login", "Hesap", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

