
@{
    ViewBag.Title = "Şifremi Unuttum";
}

    <div style="margin-top:50px;">
        <section class="contact section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5 contact-title">
                            <h2>Şifremi Unuttum</h2>
                        </div>

                        <div id="loginForm">
                            <div>
                                <p>
                                    Lütfen e-posta adresinizi kontrol ediniz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

